<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoryQ.Converter.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StoryQ.Converter.Wpf.Properties.Settings>
            <setting name="SettingsXml" serializeAs="String">
                <value />
            </setting>
            <setting name="InputText" serializeAs="String">
                <value>Historia é Nome da história
Para o Beneficio
Enquanto Papel
Eu Quero Funcionalidade
Com Cenario Nome do cenario
Dado Condicao com um parametros simples $true
Quando operacao com um parametro nomeado $id:5
Entao a Saida com um argumento multipalavra {texto multi-palavra}
E outra Saida com um parametro que é nomeado com espaços {fimdomundo:2011-12-31 23:59 GMT}
E ainda outra Saida com $2 parametros {string2:abc}</value>
            </setting>
        </StoryQ.Converter.Wpf.Properties.Settings>
    </userSettings>
</configuration>